.button {
    background-color: var(--yellow);
    align-items: center;
    font-family: inherit; /*Herda a fonte do body*/
    font-weight: 700;
    color: var(--white);

    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    box-shadow: 10px 10px 30px var(--button-shadow);

    border: none;
}