* {
    margin: 0;
    padding: 0;
}

.cabecalho {
  background-color: #d3d3d3;
  padding: 20px;
}

.navbar-header {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
  display: inline;
  margin-left: 15px;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  font-size: 22px;
}
